@import '../../../vars.css';

.topHeader {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 1rem;
    height: 3rem;
    top: 0;
    color: var(--white);
    background-color: var(--black-blue);
    width: 100%;
    font-size: 0.8rem;

    img {
        width: 6.375rem;
        height: 0.875rem;
    }
}